@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Oswald:wght@300&display=swap");


.gradient-text {
  background-image: linear-gradient(60deg, #E21143, #FFB03A);
  background-clip: text;
  color: transparent;
  font-size: 50px;
  margin: 10px 540px;

}




body{
  background: RGB(255, 217, 216);
}
 
.box{
   vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin: 30px auto;
  width: 300px;
  height: 50px;
  
}







.container-0{
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
    top: 6px;
    left: 20px;
  
}


.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  
  
}

.container-1 input#search{
  width: 300px;
  height: 50px;
  background: RGB(255, 117, 117);
  border: none;
  float: left;
  color: #ff7575;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
        font: 400 14px Roboto, Arial, sans-serif;
        
        

}

.container-1 input#search::-webkit-input-placeholder {
   color:#ffd9d8;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: RGB(255, 217, 216);
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }




.text{
    width:450px;
    font: 500 16px Roboto, Arial, sans-serif;
    line-height: 28px;
    color: white;

}



.modal{
   background-color: #ff7575;
   height: 250px;
   width: 400px;
padding: 30px;
  margin: -20px;
}

.container-2 input#search{
  width: 200px;
  height: 30px;
  background: #ffd9d8;
  border: none;
  color:#ff7575;
  padding-left: 30px;
  margin-left: 5%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
      font: 400 14px Roboto, Arial, sans-serif;

 
}

.container-2 input#search::-webkit-input-placeholder {
   color:#ff7575;
}
 
.container-2 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-2 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-2 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: RGB(255, 217, 216);
}

.container-2 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
  



.flex-container {
  display: flex;
    flex-wrap: wrap;
  justify-content: center;
  background-color: RGB(255, 217, 216);

  
}

.flex-container > div {
  background-color: RGB(255, 117, 117);
    border-radius: 25px;
  width:200px;
  margin: 7px 30px;
  text-align: center;
  line-height: 30px;
    font: 300 8px Roboto, Arial, sans-serif;
    line-height: 15px;
    color: white;
    box-shadow: 0px 0px 22px #ff7575;
     position: relative;
     overflow: hidden;
}

.flex-container > div:hover {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff7575,
              0 0 25px #ff7575,
              0 0 50px #ff7575,
              0 0 100px #ff7575;
}

.film-disc{
  background-color: white;
  position: absolute;
  color: #ff7575;
  padding: 1.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

}

.flex-container > div:hover .film-disc{
  transform: translateX(0%);
}






.poster{
  width:200px ;
  height: 300px;
  border-radius: 25px 25px 0px 0px;

}



.button {
  background-color:#ffd9d8;
  color:white;
  width: 100px;
  height: 30px;
   border: none;
  cursor: pointer;
  font: 400 17px Roboto, Arial, sans-serif;
margin: 30px 20px ;
  color: #ff7575;
  border-radius: 3px;
text-decoration: none;
}

.button:hover {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffd9d8,
              0 0 25px #ffd9d8,
              0 0 50px  #ffd9d8,
              0 0 100px #ffd9d8;
}


a {
  text-decoration: none;
  color: #ff7575;
}
/* mouse over link */

/* mouse over link */
 a:hover {
  text-decoration: none;
  color: #ff7575;
  background-color: #ffd9d8;
}



.description a{
  
  text-decoration: none;
  color: white;
}
/* mouse over link */
.description  a:hover {
  text-decoration: none;
  
  background-color: #ff7575;
}



button {
  background-color: RGB(255, 117, 117);
  color:white;
  width: 100px;
  height: 30px;
   border: none;
  cursor: pointer;
  font: 400 17px Roboto, Arial, sans-serif;
margin: 30px 20px ;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff7575,
              0 0 25px #ff7575,
              0 0 50px #ff7575,
              0 0 100px #ff7575;
}







.moviecard{
    display: flex;
	font-family: 'Helvetica', sans-serif, 'Ariel';
	position: relative;
	background:#ff7575;
	color: white;
  margin: 50px auto;
  width: 850px;
  padding: 20px 290px 5px 20px;
	-moz-box-shadow: -5px 5px 15px;
	-webkit-box-shadow: -5px 5px 15px;
  box-shadow: -5px 5px 15px;
  border-radius: 20px;}


  .moviecard:hover {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff7575,
              0 0 25px #ff7575,
              0 0 50px #ff7575,
              0 0 100px #ff7575;
}



  .movieinfo{
      display: flex;
  flex-direction: column;
  width: 1850px;
  margin-left: 20px;
  }

  


 .movieinfo .title{
    font-size: 15px;
	  color: white;
  }

.movieinfo  .details{
    font-size: 12px;
    padding-bottom: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dbdbdb;
    width: 400px;
}

.video{
  margin: 20px;
}